<div th:fragment="updatePasswordFragment">
	<div class="col-12">
		<div class="mb-3">
			<label for="currentPassword" class="form-label">Current password</label>
			<input type="password" class="form-control currentPassword" id="updatePassword">
		</div>
		<div class="mb-3">
			<label for="password1" class="form-label">New password</label>
			<input type="password" class="form-control newPassword" id=password1>
		</div>
		<div class="mb-3">
			<label for="password2" class="form-label">Enter again</label>
			<input type="password" class="form-control newPassword" id=password2>
		</div>
		<a class="btn btn-sm btn-outline-secondary"
		   href="javascript:updatePassword()">Update password</a>
	</div>
</div>

<div th:fragment="dropoutFragment">
	<div class="col-12">
		<div class="mb-3">
			<label for="currentPassword" class="form-label">Current password</label>
			<input type="password" class="form-control currentPassword" id="dropout">
		</div>
		<a class="btn btn-sm btn-outline-danger"
		   href="javascript:dropout()">Drop out</a>
	</div>
</div>