<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th><label>No.</label></th>
					<th><label>Subject</label></th>
					<th><label>Date</label></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="question, loop : ${paging}">
<!--				<td><label>[[${loop.count}]]</label></td>-->
<!-- 					total contents - (now page * contents per page) - index -->
					<td>[[${paging.getTotalElements - (paging.number * paging.size) - loop.index}]]</td>
					<td>
						<a th:href="@{|/question/detail/${question.id}|}"><label>[[${question.subject}]]</label></a>
						<span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}">[[${#lists.size(question.answerList)}]]</span>
					</td>
					<td><label>[[${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}]]</label></td>
				</tr>
			</tbody>
		</table>
		<div th:replace="~{page :: pageFragment}"></div>
		<a th:href="@{/question/create}" class="btn btn-primary float-end">New Question</a>
	</div>
</html>