<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<h5 class="my-3 border-bottom pb-2"><label>New Question</label></h5>
		<form th:object="${questionForm}" method="post">
			<!--수정, 등록 메서드를 구분하기 위한 csrf token. form:action 태그를 지운 대신 삽입한다.-->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			<div class="mb-3">
				<label for="subject" class="form-label">[[Subject]]</label>
				<input type="text" th:field="*{subject}" class="form-control">
			</div>
			<div class="mb-3">
				<textarea th:field="*{content}" class="form-control" rows="10"></textarea>
			</div>
			<input type="submit" value="Create" class="btn btn-outline-secondary my-2 float-end">
		</form>
	</div>
</html>