<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th><label>No.</label></th>
					<th><label>Subject</label></th>
					<th><label>Date</label></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="question, loop : ${questionList}">
					<td><label>[[${loop.count}]]</label></td>
					<td>
						<a th:href="@{|/question/detail/${question.id}|}"><label>[[${question.subject}]]</label></a>
					</td>
					<td><label>[[${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}]]</label></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/question/create}" class="btn btn-primary float-end">New Question</a>
	</div>
</html>