/*textarea{*/
/*	width:100%;*/
/*}*/

/*input[type=submit] {*/
/*	margin-top:10px;*/
/*}*/

.ws-pl {
	white-space: pre-line;
}

.comment {
	border-top: dotted 1ox #ddd;
	font-size: 0.7em;
}